<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<nav>
 
  <ul class="nav navbar-nav navbar-right">
      <li><a class="btn btn-outline-light text-primary" href="sign_in"><span class="glyphicon glyphicon-user"></span> Sign In</a></li>
  </ul>
</nav>
  <div class="center posi size text-primary">
    <h3 class="card-subtitle mb-3 ">Sign Up</h3> 
    <%= form_with model: @user, url: sign_up_path do |form| %>
      <% if form.object.errors.any? %>
        <div class="alert alert-danger">
          <% form.object.errors.full_messages.each do |message| %>
            <div><%= message %></div>
          <% end %>
        </div>
      <% end %>
      <div class="mb-3 text-primary">
        <%= form.label :email %>
        <%= form.text_field :email, class: "form-control" %>
      </div>
      <div class="mb-3 text-primary">
        <%= form.label :username %>
        <%= form.text_field :username, class: "form-control" %>
      </div>
      <div class="mb-3 text-primary">
        <%= form.label :password %>
        <%= form.password_field :password, class: "form-control" %>
      </div>
      <div class="mb-3 text-primary">
        <%= form.label :password_confirmation %>
        <%= form.password_field :password_confirmation, class: "form-control" , placeholder: "sweta34"%>
      </div>
      <div class="mb-3">
        <%= form.submit "Sign Up" , class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>